/* style.css */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #4CAF50, #ffffff);
  color: black;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
   background: linear-gradient(to right, #4CAF50, #ffffff); /* verde tipo presentación */
  color: black;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  flex: 1;
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: black;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: rgb(37, 37, 37);
}

h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

p, a {
  font-size: 1.1em;
  margin: 10px 0;
}

a {
  color: #ffffff;
  text-decoration: underline;
}

.right a {
  color: #4CAF50;
  text-decoration: none;
}

.right a:hover {
  text-decoration: underline;
}
